[submodule "jetty"]
	path = jetty
	url = git://github.com/opscode-cookbooks/jetty.git
[submodule "java"]
	path = java
	url = git://github.com/socrata-cookbooks/java
[submodule "jpackage"]
	path = jpackage
	url = git://github.com/opscode-cookbooks/jpackage.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "chef-android-sdk"]
	path = chef-android-sdk
	url = git://github.com/gildegoma/chef-android-sdk.git
